{% extends 'base.html.twig' %}

{% block title %}Editer Editeur{% endblock %}

{% block body %}
    {{ include('editeur/_form.html.twig', {'button_label': 'Modifier'}) }}
    <div class="container">
        <div class="row">
            <div class="col col-lg-2">
                <a href="{{ path('editeur_index') }}"><span class="btn btn-primary"><i class="fa fa-backward"> &nbsp; Retour </i></span></a>
            </div>
            {{ include('editeur/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
