<div class="alert alert-danger" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h3 class="alert-heading">Attention!</h3>
    <p>
        Désolé, impossible de supprimer cet éditeur, car un ou plusieurs livres sont associés à lui.</p>
</div>